@use 'root';

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  display: grid;
  grid-template-rows: 10vh 90vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.menu-home {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.container {
  width: calc(100vw - 4rem);
  padding: 2rem;
  margin: 0;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
}

.container-bordered {
  padding: 1.5rem;
  border: .15rem solid root.$primary-color;
  border-radius: .5rem;
}

.container__centered {
  margin: auto;
  width: 75%;
}

.fieldset {
  border-radius: .5rem;
  max-width: min(calc(100% - 2rem), 350px);
  margin: auto;
  padding: 1rem 1rem;
}

.fieldset__legend {
  color: root.$primary-color;
  font-weight: bold;
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.row {
  width: auto;
  max-width: 100%;
  padding-bottom: 1rem;
  gap: .5rem;

  &--auto {
    display: flex;
    justify-content: space-around;
  }
}

